// Place all the styles related to the newAc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  margin: 0;
  //background-image:linear-gradient(-90deg, #4EFD86, #578CFF);
  //opacity: 0.2;
}
#manu{
    width: auto;
    height: 120px;
    background-color:#EDFFFF;
}
