// Place all the styles related to the Drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  //background-image: linear-gradient(-90deg, #29FF6D, #2F6FF9);
  //opacity: 0.2;
  margin: 0;
  width: auto;
  height: 100%;
  font-family: sans-serif;
}
.meshr{
  border-top: midiam;
}
#message{
  font-size: 2em;
  font-family: "メイリオ",sans-serif;
}
#message-row{
  margin: 1em;
  border-radius: 7px;
  max-height: 10%;

}
#message-safe{
  margin: 1em;
  border-radius: 7px;
  height:100%;
  width:auto;
  background-color: rgba(0,186,255,0.8);
}

#message-over{
  margin: 2em;
  border-radius: 7px;
  height:100%;
  width:auto;
  background-color: rgba(255,120,0,0.8);
}

#safeM{
  color: #FFFFFF;
  font-size: 2em;
  font-family: "メイリオ",sans-serif;
}

#overM{
  color: #FFFFFF;
  font-size: 2em;
  font-family: "メイリオ",sans-serif;
}
#log-row{
  width: 100%;
  height:auto;
}
#Influence-row{
  height: 100%;
  width: 100%;
  margin: auto;
  // background-color:#FFFFFF88;

}
.title{
  color: #000000;
  font-size: 200px;
  font-family: "メイリオ", sans-serif;
}

.suri{
  filter: blur(10px);
}
#logbtn{
  margin: 1em;
  font-size:1em;
}
#message-con{
  margin: 0;
}
#message-row{
  margin: 0;
}
#messageArea{
    //filter: blur(10px);
    width: 100%;
    color:#000000;
    // background-color: #00E300;
    overflow: hidden;
}
#log-row{
  // width: 100%;
}
#log{
  height: 100%;
  margin: auto;

   border-radius: 7px;
}
#graph{
  margin: 1em;
}
.buttontable{
  float:none;
  clear: both;
}
.logview{

}
.imgLink{

  filter: blur(10px);
}

.dributton{
  background:#FFFFFF;
  height: auto;
  border-style: hidden;
  border-radius: 7px;
   margin: 10px;
  background-size: cover;
  position: center;
  float: left;
  overflow: hidden;

}


.cafeinAmount{
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
   margin-top: 0px;
}

.product{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: 50%;
  font-size: 150%;
}
.logtime{
  text-align: right;
}
