// Place all the styles related to the Drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  //background-image: linear-gradient(-90deg, #29FF6D, #2F6FF9);
  //opacity: 0.2;
  font-family: sans-serif;
  padding: 25px;
}
.suri{
  filter: blur(10px);
}
#messageArea{
    //filter: blur(10px);
    color:#000000;
    background-color: #00E300;
    overflow: hidden;
}
.buttontable{
  float:none;
  clear: both;
}
.logview{

}
.imgLink{
  z-index: 1;
  filter: blur(10px);
}

.dributton{
  background:#FFFFFF;
  border-style: hidden;
  border-radius: 7px;
   margin: 10px;
  background-size: cover;
  position: center;
  float: left;
  overflow: hidden;

}


.cafeinAmount{
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
   margin-top: 0px;
}

.product{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: 600;
  font-size: 150%;
}
